<!DOCTYPE html>
<html>
  <head>
    <title>Storytime</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if session[:current_user_id] %>
      <%= link_to "Log Out", login_path(0),
                  :data => {:method => "delete"}%>
    <% else %>
      <%= link_to "Log In", new_login_path %>
    <% end %>
    <% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: name %>
    <% end -%>
    <%= yield %>
  </body>
</html>
